.profile {
    background-color: #d0d3d2;
    grid-area: content;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
}

.profile__img {
    width: 100px;
    height: 100px;
}

.profile__photo {
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
}

