.userPhoto {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.users__img {
    border: 2px solid black;
    border-radius: 50%;
}

.users__item {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.selectedPage {
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
}