.post__item {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.post__img {
    width: 50px;
    height: 50px;
}

.post__photo{
    border: 2px solid black;
    border-radius: 50%;
}

